<section class="page-heading" >
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="text-left">Ví STC</h1>
           
         </div>
      </div>
   </div>
</section>
<div class="content wallet-balance" style="margin-bottom: 80px;">
   <div class="container" >
      <div class="row">
         <div class="col-md-12">
            <div class="tabs">
               <ul class="nav nav-tabs nav-tabs-customer" id="tab-vnd">
                  <li class="active"><a data-toggle="tab" href="#depositSTC"><i class="fa fa-download"></i>  Nạp</a></li>
                  <li><a data-toggle="tab" href="#withdrawSTC"><i class="fa fa-send"></i> Rút</a></li>
                  <li><a data-toggle="tab" href="#historySTC"><i class="fa fa-files-o"></i> Lịch sử</a></li>
               </ul>

               <div class="tab-content">
                 <div id="depositSTC" class="tab-pane fade in active">
                 <div class="address-wallet">

                     <div class="deposit-container new-address-generated">
                        <div class="panel panel-default">
                           <div class="panel-heading">
                              <h2 class="panel-title">Nạp SANTACOIN</h2>
                           </div>
                           <div class="panel-body text-center">
                              <div class="col-md-4 col-md-push-4 text-center">
                                 
                                    <div class="address-text-line">
                                       <div class="input-group-address-wrapper">
                                          <div class="input-group input-group-address">
                                             <div class="input-address">
                                                <input id="inputaddress" readonly="" type="text" value="{{address_stc}}" class="pull-left">
                                                <button class="btn-copy-clipboard copy pull-right" data-clipboard-action="copy" data-clipboard-target="#inputaddress" type="button">
                                                   <div class="icon dripicons-copy"></div>
                                                   <i class="fa fa-clipboard"> </i>
                                                </button> 
                                             </div>
                                          </div>
                                          <div class="input-group-address-note alert-warning text-left no-margin-bottom">
                                             
                                             <div><span>Địa chỉ gửi tiền này chỉ chấp nhận STC. Không gửi các loại coin khác vào nó.</span></div>
                                          </div>
                                       </div>
                                    </div>
                                    <div id="deposit_qr_code">
                                       <div class="qr text-center">
                                          <img src="https://chart.googleapis.com/chart?chs=300x300&amp;cht=qr&amp;chl={{address_stc}}" alt="">
                                       </div>
                                    </div>
                                 
                                 <!-- <button class="btn-generate-deposit-address btn btn-primary"><span>Tạo địa chỉ mới</span></button> -->
                              </div>
                           </div>
                        </div>


                        <div class="panel panel-default list-coin-deposits">
                           <div class="panel-heading">
                              <h4 class="panel-title">Lịch sử nạp Santacoin</h4>
                           </div>
                           <div class="panel-body">
                              <div class="content-wrapper">
                                 <div>
                                    <div>
                                       <div class="loading-container text-center">
                                          <div class="loading-bar"></div>
                                       </div>
                                       <div>
                                          <div id="history-deposit-finish-stc"></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                        
                        <div class="clearfix"></div>
                     </div>
                  </div>

                 </div>
                 <div id="withdrawSTC" class="tab-pane fade">
                     
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h2 class="panel-title">Rút SANTACOIN</h2>
                        </div>
                        <div class="panel-body">
                           <form class="form-horizontal generate-fiat-deposit-form" id="Widthdraw-STC" name="form">
                              <div class="form-group">
                                 <label for="fiat_amount" class="col-xs-4 control-label">Số dư khả dụng</label>
                                 <div class="col-xs-7"><input type="text" class="form-control" name="" readonly="true" value="{{satoshi user.balance.stc_wallet.available}}">
                                    
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label for="fiat_amount" class="col-xs-4 control-label">Lượng Santacoin</label>
                                 <div class="col-xs-7"><input type="text" class="form-control" name="amount" required="" value="0">
                                    <div class="in-help"><span>Số STC rút tối đa: </span><b class="fiat_amount">{{subbalance_stc user.balance.stc_wallet.available user.balance.stc_wallet.available_lock}} STC</b></div>
                                 </div>
                              </div>
                              
                              
                              <div class="form-group">
                                 <label for="fiat_amount" class="col-xs-4 control-label">Ví STC</label>
                                 <div class="col-xs-7"><input type="text" class="form-control" name="wallet" required="" value=""></div>
                              </div>
                              

                              {{#if_eq user.security.two_factor_auth.status '1'}}
                              <div class="form-group">
                                 <label for="fiat_amount" class="col-xs-4 control-label">Mã xác thực</label>
                                 <div class="col-xs-7"><input type="text" class="form-control" name="authenticator"  value=""></div>
                              </div>
                              {{/if_eq}}
                              <input type="hidden" name="token_crt" class="token_crt" value="{{token_crt}}">
                              <div class="form-group">
                                 <label for="fiat_amount" class="col-xs-4 control-label"></label>
                                 <div class="col-xs-7"><p class="error"></p></div>
                              </div>
                              <div class="form-group">
                                 <div class="col-xs-offset-4 col-xs-10 button-container text-left"><button class="btn-generate-fiat-deposit btn btn-danger" type="submit"><span>Rút</span></button></div>
                              </div>
                           </form>
                           <div class="clearfix"></div>
                        </div>

                     </div>
                     <div class="panel panel-default list-coin-withdrawals">
                        <div class="panel-heading">
                           <h4 class="panel-title">Lịch sử rút Santacoin</h4>
                        </div>
                        <div class="panel-body">
                           <div id="history-withdraw-pending"></div>
                           <div>
                              <div>
                                 
                                 
                              </div>
                           </div>
                        </div>
                     </div>
                     
                 </div>
                 <div id="historySTC" class="tab-pane fade">
                     <div class="text-center loading_bar_stc">
                        <img style="margin: 0 auto" src="/images/loading_bar.gif">
                     </div>
                     <div class="history_loading_stc" style="display: none;">
                         <div class="col-md-12">
                           <h4 style="font-weight: 500" class="text-center">LỊCH SỬ NẠP</h4>
                           <div id="history-deposit-finishss"></div>
                        </div>
                        <div class="col-md-12">
                           <h4 style="font-weight: 500" class="text-center">LỊCH SỬ RÚT</h4>
                           <div id="history-withdraw-finish"></div>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                 </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>